section.canhcam-home-1
	.container
		h2 Người sáng lập
		.row
			.col-md-6
				figure
					img(src="./img/parisbeautyspa/home/home_1.png", alt="alt")
			.col-md-6.box-content
				.item
					h3 GIÁM ĐỐC ĐIỀU HÀNH PARIS BEAUTY
					p Chị VŨ THỊ HỒNG PHÚC Đã có 10 năm kinh nghiệm trong lĩnh vực điều trị và chăm sóc da. Chị đã không ngừng cập nhật những xu hướng, công nghệ làm đẹp tiên tiến trên thế giới để phù hợp với tiêu chuẩn cái đẹp hiện đại mang đến cho khách hàng ....
					p Nhằm đảm bảo sự an toàn trong từng liệu trình phẫu thuật thẩm mỹ, <strong>PARIS BEAUTY</strong> đã chú trọng đầu tư các trang thiết bị, cơ sở vật chất hiện đại nhất hỗ trợ tối đa cho quá trình phẫu thuật nhằm xác định chính xác tình trạng sức khỏe khách hàng trước khi phẫu thuậ	t và hỗ trợ theo dõi sát sao những diễn biến về sức khỏe của khách hàng trong suốt quá trình phẫu thuật.
