section.canhcam-breadcrumb-1
	.container
		.support
			i.items <span class="mdi mdi-phone-in-talk"></span>
			i.items <span class="mdi mdi-message-text"></span>
			i.items.fas.fa-search
	article.owl-carousel.owl-theme.list-items
		.item(bg-img="img/parisbeautyspa/slider/slider_promotion_1.png")
	.main-breadcrumb
		.container
			ol.breadcrumb.d-flex.justify-content-end
				li.breadcrumb-item
					a(href='#') Trang chủ
				li.breadcrumb-item.active(aria-current='page') Khuyến mãi
