section.canhcam-breadcrumb-index-1
	.container
		.support
			i.items <span class="mdi mdi-phone-in-talk"></span>
			i.items <span class="mdi mdi-message-text"></span>
			i.items.fas.fa-search
	article.owl-carousel.owl-theme.list-items
		.item(bg-img="img/parisbeautyspa/slider/slider_index_1.png"  bg-pos-lg="center -200px" bg-pos-sm="center center")
