
article.analysis(bg-img="./img/parisbeautyspa/background/intro_2.png")
	.container
		h2 Phân tích da
		.row
			.col-lg-6.box
				.canhcam-slider-1
					.owl-carousel.owl-theme.list-items
						-for(i=1;i<4;i++)
							.item(bg-img="./img/parisbeautyspa/intro/intro_2.png")
			.col-lg-6.box
				p <strong>Được sử dụng công nghệ soi da Visia hiện đại nhất:</strong>
				p Trước khi thực hiện trị mụn bằng công nghệ Laser CO2 tại <strong>Spa Paribeauty</strong> , khách hàng sẽ được sử dụng công nghệ soi da Visia để được phân tích rõ ràng và cụ thể về tình trạng mụn, mức độ tổn thương hiện tại từ đó có liệu trình điều trị phù hợp và hiệu quả nhất.
				p Thêm vào đó, khi khách hàng điều trị mụn tại <strong>Spa Paribeauty</strong> sẽ được các bác sĩ tư vấn tỉ mỉ chế độ chăm sóc đặc biệt góp phần duy trì hiệu quả trị mụn được lâu dài,
