section.canhcam-promotion(bg-img="./img/parisbeautyspa/background/background_footer.png")
	.container
		h1.h1.text-center.text-uppercase Khuyến mãi
		-for (i=1;i<4; i++)
			.block
				a(href="javascript:void(0)", title="title")
					img.img-fluid(src="./img/parisbeautyspa/promotion/promotion_"+i+".png", alt="")

