ul.nav.justify-content-center.nav-pills.nav-news(data-select)
	each val, index in ['Kiến thức làm đẹp', 'Sự kiện làm đẹp', 'Tuyển dụng']
		if(index == 0)
			li.nav-item.text-center.text-uppercase.active
				a.nav-link.text-white(href="javascript:void(0)")= val
		else
			li.nav-item.text-center.text-uppercase
				a.nav-link(href="javascript:void(0)")= val
