section.canhcam-slider-4
	.container
		.row
			.col-md-8.title
				h2 dịch vụ nổi bật
				p Cùng Paris Beauty trải nghiệm những dịch vụ chăm sóc da được nhiều khách hàng tin dùng và lựa chọn nhiều nhất trong mỗi cuộc hẹn.
		.row.no-gutters
			.col
				.list-thumb.list-items
					.item(bg-img-responsive="./img/parisbeautyspa/home/home_13.png", bg-img-responsive-sm="./img/parisbeautyspa/home/home_13.png", bg-img-responsive-xs="./img/parisbeautyspa/home/home_13.png")
					.item(bg-img="./img/parisbeautyspa/home/home_13.png")
					.item(bg-img="./img/parisbeautyspa/home/home_13.png")
					.item(bg-img="./img/parisbeautyspa/home/home_13.png")
				.slider-control
					.slider-nav
						.item(bg-img="./img/parisbeautyspa/home/home_13.png")
						.item(bg-img="./img/parisbeautyspa/home/home_13.png")
						.item(bg-img="./img/parisbeautyspa/home/home_13.png")
						.item(bg-img="./img/parisbeautyspa/home/home_13.png")
