section.canhcam-slider-2
	.container
		.row.mb-4
			.col.d-flex.justify-content-center
				.title
					h2 Gói ưu đãi
					p Từ những kinh nghiệm chăm sóc và lắng nghe khách hàng, Paris Beauty đưa ra các gói ưu đãi tốt nhất nhằm nâng cao tăng tính hiệu quả giúp bạn luôn tự tin, vui khỏe.
		.row.no-gutters
			.col
				.owl-carousel.owl-theme.list-items
					.item.d-flex.justify-content-center.align-items-end.align-items-md-center(bg-img="./img/parisbeautyspa/home/home_13.png",bg-pos="left center")
						.row.justify-content-md-end
							.col-md-6
								.box-content.text-center
									h3.h3.mb-3
										p.top Đảo ngược thời gian
										p.bottom 10 năm tuổi 
										span trong 1 lần trị liệu
									p.full-content.d-none.d-md-block Sử dụng các sản phẩm cao cấp từ Tây Ban Nha giúp nuôi dưỡng làn da trăng tự nhiên, tăng độ săn chắc và độ ẩm cho da
									p
										a.btn.btn-outline-primary.btn-more(href="#") Xem chi tiết
					.item.d-flex.justify-content-center.align-items-end.align-items-md-center(bg-img="./img/parisbeautyspa/home/home_13.png", bg-pos="left center")
						.row.justify-content-md-end
							.col-md-6
								.box-content.text-center
									h3.h3 
										p.top Đảo ngược thời gian
										p.bottom 10 năm tuổi 
										span trong 1 lần trị liệu
									p.full-content.d-none.d-md-block Sử dụng các sản phẩm cao cấp từ Tây Ban Nha giúp nuôi dưỡng làn da trăng tự nhiên, tăng độ săn chắc và độ ẩm cho da
									p
										a.btn.btn-outline-primary.btn-more(href="#") Xem chi tiết
