footer.canhcam-footer-12(bg-img="./img/parisbeautyspa/footer/footer_1.png")
	.footer-social
		.container
			.row.social
				.col-12
					.social-list.d-flex.justify-content-center
						ul.list-inline
							li.list-inline-item
								a(href='https://www.facebook.com/baonguyenyam', target='_blank')
									i.fab.fa-facebook-f(ga-action-click='', data-value='Facebook', data-label='Facebook', mdata-action='Facebook')
							li.list-inline-item
								a(href='https://www.twitter.com/baonguyenyam', target='_blank')
									i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
							li.list-inline-item
								a(href='https://www.google.com/+baonguyenyam', target='_blank')
									i.fab.fa-google(ga-action-click='', mdata-value='Google', data-label='Google', data-action='Google')
							li.list-inline-item
								a(href='https://www.youtube.com/+baonguyenyam', target='_blank')
									i.fab.fa-youtube(ga-action-click='', data-value='Youtube', data-label='Youtube', data-action='Youtube')
	.footer-content
		.container
			.row.flex-column-reverse.flex-md-row
				.col-12.text-center.col-md-6.text-lg-left
					.row
						.col-12.col-md-6.mb-4.box-footer
							h4.text-uppercase ĐỊA CHỈ
							p 
								a(href="javascript:void(0)") Số 08 Phạm Đình Toái, Phường 6, Quận 3, Tp.HCM
						.col-12.col-md-6.mb-4.box-footer
							h4.text-uppercase ĐIỆN THOẠI
							p 
								a(href="javascript:void(0)") 090 83 83 888 
							p
								a(href="javascript:void(0)") 028 2228 93 93
						.col-12.col-md-6.mb-4.box-footer
							h4.text-uppercase GIỜ MỞ CỬA
							p 
								a(href="javascript:void(0)") Thứ 2 - Chủ Nhật
							p
								a(href="javascript:void(0)") 9:00-21:00

						.col-12.col-md-6.mb-4.box-footer
							h4.text-uppercase EMAIL
							p 
								a(href="javascript:void(0)") pb@parisbeauty.vn
				.col-12.col-md-6
					.footer-logo.d-flex.justify-content-center.justify-content-md-end.align-items-center.py-5
						a(href="javascript:void(0)")
							img(src="./img/logo_parisbeautyspa_footer.png", alt="")

	.copy-right
		.container
			.row
				.col-12.text-center.text-uppercase
					span © 2018 ABC. all right reserved. designed by canhcam.v
