section.canhcam-hightech-rejuvenation-news-3
	article.news_list
		.container
			h1.h1 Trẻ hóa công nghệ cao
			//- Content here
			.row#products
				-var i = 1
				each val, index in ['săn chắc, tươi trẻ da với thermage', 'nâng cơ, căng da, xóa nhăn tầng sâu công nghệ ultherapy', 'Tái tạo, trẻ hóa da công nghệ frational co2', 'tái sinh làn da công nghệ mesogun', 'trẻ hóa vùng kín công nghệ laser', 'prp hồi sinh cho tất cả các loại da']
					.col-sm-6.col-lg-4
						a.item(href="hightech-rejuvenation-detail.html")
							figure
								img(src="./img/parisbeautyspa/hightech-rejuvenation/hightech_rejuvenation_"+i+".png", alt="alt")
								figcaption.match
									time 21.06.2018
									h3= val
									- i++
