extends _layout/layout.pug
block variables
	- var title = "beautify-service-detail"
	- var description = "Description for beautify-service-detail page"
	- var bodyclass = "beautify-service-detail"
	- var href = "/beautify-service-detail.html"
block header
	//- include ../lib/header/h-14/index.pug
block body
	include ../lib/beautify-service-detail/s-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
