extends _layout/layout.pug
block variables
	- var title = "beautify-service"
	- var description = "Description for beautify-service page"
	- var bodyclass = "beautify-service"
	- var href = "/beautify-service.html"
block header
	//- include ../lib/header/h-14/index.pug
block body
	include ../lib/beautify-service/s-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
