extends _layout/layout.pug
block variables
	- var title = "contact"
	- var description = "Description for contact page"
	- var bodyclass = "contact"
	- var href = "/contact.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/breadcrumb/b-10/index.pug
	include ../lib/form/f-2/index.pug
	include ../lib/contact/c-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
