extends _layout/layout.pug
block variables
	- var title = "hightech-treatment"
	- var description = "Description for hightech-treatment page"
	- var bodyclass = "hightech-treatment"
	- var href = "/hightech-treatment.html"
block header
	//- include ../lib/header/h-14/index.pug
block body
	include ../lib/breadcrumb/b-7/index.pug
	include ../lib/hightech-treatment/h-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
