extends _layout/layout.pug
block variables
	- var title = "hightech-treatment-detail"
	- var description = "Description for hightech-treatment-detail page"
	- var bodyclass = "hightech-treatment-detail"
	- var href = "/hightech-treatment-detail.html"
block header
	//- include ../lib/header/h-14/index.pug
block body
	include ../lib/hightech-treatment-detail/h-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
