extends _layout/layout.pug
block variables
	- var title = "hightech-rejuvenation"
	- var description = "Description for hightech-rejuvenation page"
	- var bodyclass = "hightech-rejuvenation"
	- var href = "/hightech-rejuvenation.html"
block header
	//- include ../lib/header/h-14/index.pug
block body
	include ../lib/breadcrumb/b-5/index.pug
	include ../lib/hightech-rejuvenation/h-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
