extends _layout/layout.pug
block variables
	- var title = "hightech-rejuvenation-detail"
	- var description = "Description for hightech-rejuvenation-detail page"
	- var bodyclass = "hightech-rejuvenation-detail"
	- var href = "/hightech-rejuvenation-detail.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/breadcrumb/b-6/index.pug
	include ../lib/hightech-rejuvenation-detail/h-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
