extends _layout/layout.pug
block variables
	- var title = "promotion"
	- var description = "Description for promotion page"
	- var bodyclass = "promotion"
	- var href = "/promotion.html"
block header
	//- include ../lib/header/h-14/index.pug
block body
	include ../lib/promotion/p-1/index.pug
block footer
	include ../lib/footer/f-12/index.pug
