
section.canhcam-intro-slider-5(bg-img="./img/parisbeautyspa/background/intro_3.png")
	.container
		h2 TRẢI nghiệm người nổi tiếng
		.list-thumb
			-for(i=1;i<4;i++)
				a.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/parisbeautyspa/intro/intro_4.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
					.img
						img(src="./img/parisbeautyspa/intro/intro_4.png", alt="alt")
					.title
						p.quote “
						p.content Cuộc sống của tôi khá bận rộn và phải thường xuyên di chuyển quay phim ngoài trời, nên tôi không có nhiều thời gian chăm sóc trọn vẹn cho làn da của mình. Rất may là được biết đến các liệu trình chăm sóc da tại Paris Beauty, nên da của tôi luôn căng tràn, sáng mịn và hồng hào.
						p.lead Diễn viên Diễm My 9x
