section.canhcam-news-detail-news-details-1
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read.mb-5.mb-lg-0
						.title.mb-3
							h1.text-uppercase 5 bí quyết chăm sóc và bảo vệ da ngày hè
							time 01/06/18 10:27 GMT+7
						.intro.mb-4.mb-lg-5
							p Nắ ng nóng và oi bức của mùa hè khiến cho chị em phụ nữ không khỏi lo lắng về những dấu hiệu của làn da xuống cấp trầm trọng như: da sạm, đổ nhờn và nổi nhiều mụn hơn… Với hiểu biết chuyên sâu về làn da, Paris Beauty xin dành tặng bạn bí quyết chăm sóc da ngày hè đúng cách đem lại hiệu quả cao nhất.
						.block.mb-4.mb-lg-5
							p.lead.mb-1.text-uppercase 1. Chống nắng ưu tiên hàng đầu
							p Chắc hẳn chúng ta đều biết, tia cực tím (tia UV) là “kẻ thù truyền kiếp” của làn da. Đặc biệt, mùa hè là khoảng thời gian có lượng tia cực tím mạnh nhất trong năm. Nếu một ngày chói chang, bỗng bạn nhận thấy làn da mình khô và sạm hẳn đi không rõ nguyên nhân thì việc đầu tiên hãy đặt câu hỏi: liệu ta đã chống nắng đúng cách?
							p Phải tiếp xúc trực tiếp với ánh sáng mặt trời vào ngày hè, nên chọn kem chống nắng có SPF 30 trở lên. Khi đi biển hoặc hoạt động ngoài trời, tốt nhất chọn kem với SPF 81+ (để tránh tình trạng bị kích ứng, nên test thử trước trên da tay).
							a.item-news-read.d-flex.justify-content-center.align-items-center.text-center(href="./img/parisbeautyspa/news-detail/newsdetail_1.png")
								figure.my-3
									img.img-fluid(src="./img/parisbeautyspa/news-detail/newsdetail_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
									figcaption.mt-2.mt-md-3.text-center.font-italic Chọn kem chống nắng phù hợp với từng loại da
							p Lựa chọn kem chống nắng phù hợp dựa với tính chất làn da: da khô nên sử dụng kem có thành phần dưỡng ẩm, da nhờn dùng kem kiềm dầu. Phần da nhạy cảm như da mặt nên dùng kem dạng cô đặc.
						//- Content 2
						.block.mb-4.mb-lg-5
							p.lead.mb-1.text-uppercase 2. Làm sạch da từ sâu bên trong
							p Một trong những quan niệm chăm sóc da sai lầm mà không ít chị em hiện nay gặp phải, coi công đoạn làm sạch da và rửa mặt là như nhau. Tuy nhiên, rửa mặt chỉ là một trong các bước để làm sạch. Một quy trình làm sạch da đúng chuẩn bao gồm: <span class ="font-weight-bold">tẩy trang, rửa mặt, tẩy tế bào chết và dưỡng da bằng nước hoa hồng.</span> Và cách thực hiện mỗi bước cụ thể như sau:
							p <span class ="font-weight-bold">Tẩy trang:</span> làm sạch lớp trang điểm, tẩy lớp kem chống nắng sau một thời gian hoạt động ngoài trời. Thậm chí, ngay cả khi bạn sử dụng mỹ phẩm hoặc chống nắng thì cuối mỗi ngày vẫn nên tẩy trang. Điều này loại bỏ lớp bụi bẩn, mồ hôi và phần chất nhờn dư thừa bám trên da mặt. Nên sử dụng nước tẩy trang có nguyên liệu thiên nhiên thay vì sử dụng các loại nhiều cồn làm khô và mòn da.
							p <span class ="font-weight-bold">Rửa mặt:</span> sữa rửa mặt nhất thiết nên chọn phù hợp với tính chất da (da hỗn hợp, da khô hay dầu, thiên khô hay thiên dầu) để chăm sóc da tối ưu. Tốt nhất nên sử dụng sữa rửa mặt 2 lần/ngày).
							p <span class ="font-weight-bold">Tẩy tế bào chết:</span> việc loại bỏ lớp tế bào chết giúp da sáng và hấp thu dưỡng chất tốt hơn đặc biệt là vào thời tiết hè nóng nực. Tuy nhiên, bạn chỉ nên tẩy da chết 2-3 lần/ tuần, vừa đảm bảo làm sạch da vừa hạn chế da bị mỏng đi do lạm dụng kem tẩy tế bào chết.
							p <span class ="font-weight-bold">Dưỡng da bằng nước hoa hồng:</span> một lớp dưỡng dịu sẽ giúp làm da được thư giãn và cân bằng độ pH.
							p Công đoạn làm sạch da tốn khá nhiều thời gian và công sức nhưng bạn tuyệt đối không nên bỏ quả. Lớp cặn bẩn nằm sâu trong da rất khó nhận thấy bằng mắt thường nhưng nếu tích tụ lâu ngày sẽ làm tắc nghẽn lỗ chân lông nguyên nhân chính dẫn đến mụn. Phần mỹ phẩm khi tích tụ trong da lâu ngày sẽ bào mòn làm xỉn màu, nhanh lão hóa. Nghiêm trọng hơn có thể dẫn đến tình trạng viêm da, mụn viêm, mụn nang rất khó điều trị và tàn phá làn da nặng nề.
							p Nếu không thể làm sạch da mỗi ngày, bạn nên chọn dịch vụ làm sạch da chuyên sâu định kỳ tại spa chăm sóc da chuyên nghiệp. Paris Beauty là địa chỉ quen thuộc của không ít chị em công sở đến chăm sóc và làm sạch da mỗi tuần.
						//- Content 3
						.block.mb-4.mb-lg-5
							p.lead.mb-1.text-uppercase 3. Cấp nước cho da căng mọng
							a.item-news-read.d-flex.justify-content-center.align-items-center.text-center(href="./img/parisbeautyspa/news-detail/newsdetail_2.png")
								figure.my-3
									img.img-fluid(src="./img/parisbeautyspa/news-detail/newsdetail_2.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
									figcaption.mt-2.mt-md-3.text-center.font-italic Cung cấp tối thiểu 1.5 -2 lít nước mỗi ngày cho làn da căng mọng
							p Một làn da đủ nước sẽ là một làn da khỏe - một làn da tươi trẻ, hãy đảm bảo làn da của bạn luôn được “uống” đủ nước hàng ngày qua 2 cách:
							p <span class ="font-weight-bold">Uống đủ nước:</span> đảm bảo cơ thể được cung cấp tối thiểu 1.5 - 2 lít nước/ngày (khi hoạt động mạnh cần một lượng nước nhiều hơn).
							p Bạn nên đa dạng thêm danh sách thự đơn nước uống của mình bằng các loại nước ép rau, củ, quả. Đặc biệt, nên tăng cường bổ sung cho các loại thức uống giải nhiệt như: Trà xanh, dưa hấu, nha đam, cà rốt, nước dừa, nước cam, chanh…
							p <span class ="font-weight-bold">Xịt khoáng:</span> hãy luôn mang theo một chai xịt khoáng để da luôn được cấp ẩm kịp thời.
						//- Content 4
						.block.mb-4.mb-lg-5
							p.lead.mb-1.text-uppercase 4. Đắp mặt nạ dưỡng da
							p Đây là bước không thể bỏ qua khi da bị bủa vây bởi hàng loạt các tác nhân gây hại của thời tiết nắng và nóng. Một số loại mặt nạ khuyên dùng trong mùa hè như:
							p <span class ="font-weight-bold">Mặt nạ chuối:</span> quả chuối + bột yến mạch, mật ong xay nhuyễn; đắp khoảng 30 phút giúp cấp ẩm, trị mụn.
							p <span class ="font-weight-bold">Mặt nạ dưa hấu:</span> dưa hấu + sữa đông đá xay nhuyễn; đắp khoảng 20-30 phút cho làn da mát dịu ngay lập tức.
							p <span class ="font-weight-bold">Mặt nạ matcha trà xanh:</span> bột matcha nguyên chất + bột gạo/bột mì hòa nước tạo hỗn hợp mịn đắp khoảng 15 phút giúp ngăn ngừa tia cực tím, chống lão hóa da.
							p <span class ="font-weight-bold">Mặt nạ sữa chua:</span> sữa chua không đường + bã cà phê; massage 1 phút và giữ nguyên trong 10 phút hạn chế da bắt nắng.
						//- Content 5
						.block.mb-4.mb-lg-5
							p.lead.mb-1.text-uppercase 5. Chăm sóc da ban đêm hiệu quả
							a.item-news-read.d-flex.justify-content-center.align-items-center.text-center(href="./img/parisbeautyspa/news-detail/newsdetail_3.png")
								figure.my-3
									img.img-fluid(src="./img/parisbeautyspa/news-detail/newsdetail_3.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
									figcaption.mt-2.mt-md-3.text-center.font-italic Không được bỏ qua bước dưỡng ẩm da vào mùa hè
							p Càng vào những ngày hè nóng nực, da đổ nhiều mồ hôi bạn làm mất nước lại càng cần dưỡng ẩm cho da. Và để tránh đi những phiền toái vì bụi bẩn và da dầu do thời tiết, bạn nên dưỡng ẩm vào ban đêm. Loại dưỡng ẩm thấm thấu nhanh và không nhờn rít sẽ là lựa chọn đúng đắn nhất.
							p.font-weight-bold Hi vọng bạn sẽ có được một làn da đẹp bất chấp thời tiết nóng nực với các bí quyết trên. Tuy nhiên, sẽ có những vấn đề da chuyên biệt khác mà Paris Beauty chưa đề cập đến. Đừng ngần ngại gửi thắc mắc về cho đội ngũ nhân viên và bác sỹ da liễu có chuyên môn spa để được  tư vấn miễn phí!
							p Liên hệ tư vấn qua hotline <span class="number">090 83 83 888</span> hoặc <span class="number">028 2228 93 93</span>. Mời bạn đến trải nghiệm trực tiếp dịch vụ điều trị làm đẹp da chuyên sâu của <span class="number">Paris Beauty</span> tại: Số 08 - Phạm Đình Toái - Phường 6 - Quận 3.
				.col-lg-4
					.othernews.py-3(data-fix="50", data-fix-type="initial", data-fix-change="sticky")
						h2.mb-3.text-uppercase.text-center TIN TỨC Khác
						.lists
							-var i = 4
							each val, index in ['Sử dụng sữa rửa mặt đúng cách để có làn da khỏe mạnh', 'Cách làm đẹp da mặt với 8 kiến thức căn bản', 'Đẹp lên mỗi ngày nhờ chăm sóc da mụn đúng cách']
								a.item(href="javascript:void(0)")
									if i == 4
										figure.box-1.d-flex.m-0
											img(src="./img/parisbeautyspa/news-detail/newsdetail_"+i+".png", alt="alt")
											figcaption
												h3.text-uppercase= val
												- i++
									else
										figure.d-flex.m-0
											img(src="./img/parisbeautyspa/news-detail/newsdetail_"+i+".png", alt="alt")
											figcaption
												h3.text-uppercase= val
												- i++
