section.canhcam-beautify-serivce-detail-boxes-15
	.container
		//- intro
		h1 Phục hồi da lão hóa
		.intro
			p Lão hóa là tiến trình diễn ra theo thời gian và không thể quay lại được. Chúng ta sẽ nhận thấy quá trình lão hóa da thay đổi qua dáng vẻ bên ngoài, màu sắc và cấu trúc khác nhau của da. Qúa trình lão hóa được chia ra làm 4 giai đoạn:
		//- body
		.row
			ul.timeline
				//- phase 1
				li.timeline-item
					.timeline-info
						span GIAI ĐOẠN 1
					.timeline-marker
					.timeline-content
						.row
							.col-md-5
								a.item-news-read(href="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_1.png")
								figure
									img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
							.col-md-7
								p Theo sự nghiên cứu của các nhà khoa học thì tiến trình lão hóa da sẽ bắt đầu từ năm 20 tuổi nhưng khó nhận thấy vì chưa có biểu hiện rõ trên bề mặt da. Nếu da không được chăm sóc đúng cách hoặc không sử dụng sản phẩm bảo vệ khi ra ngoài nắng, ăn uống thiếu chất thì tiến trình lão hóa có thể diễn ra sớm hơn. Qúa trình lão hóa diễn ra bởi tác động của gốc tự do và sự tăng sự oxy hóa, làm cho da bị sẫm màu, cấu trúc tế bào bi tổn thương, lương axit amin, hàm lượng protein giảm dần, màng lipid bắt đầu suy yếu dẫn đến viêc thất thoát nước trên bề mặt da gây ra sự khô da, mất nước sâu. Nếp nhăn li ti bắt đầu xuất hiện.
				//- phase 2
				li.timeline-item
					.timeline-info
						span GIAI ĐOẠN 2
					.timeline-marker
					.timeline-content
						p Tình trạng lão hóa nhận thấy rõ hơn ở độtuổi 30 - 40. Thời điểm này hoocmon  thường bị mất cân bằng làm cho khả năng tự phục hồi của cơ thể bị suy yếu. Các tế bào và khả năng tổng hợp nguyên bào sợi hình thành collagen và sợi đàn hồi elastin giảm dần làm cho da mỏng, yếu, mất độ săn chắc và đàn hồi, tăng độ sâu của nếp nhăn.
						p Để có làn da đẹp mãi tuổi đôi mươi, chúng ta nên có một chế độ chăm sóc da phù hợp, sử dụng mỹ phẩm chính hãng, an toàn và có chế độ ăn uống sinh hoạt hợp lý. Ăn đầy đủ chất nhất là các loại trái cây giàu vitamin, chất chống oxy hóa, không thức khuya, không sử dụng chất kích thích, tập thể dục đều đặn.
						p Tại PB chúng tôi đã chọn lọc và kết hợp giữa mỹ phẩm từ thiên nhiên và công nghệ tiên tiến nhất để mang đến cho quý khách những liệu trình ngăn ngừa sự lão hóa và làm tươi trẻ cho làn da.
						//- box
						.row
							-var i = 2
							-var j = 1
							each val in ['Liệu trình COCOON kích hoạt tăng sinh tế bào', 'MODELLING làm săn chắc, ngăn ngừa lão hóa cho mọi làn da', '360o liệu pháp làm săn chắc, đàn hồi cho làn da', 'Mesoprof ngăn ngừa lão hóa, xóa nếp nhăn, căng bóng làn da']
								.col-sm-6.col-lg-3
									a.item(href="javascript:void(0)")
										figure.box
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_"+i+".png", alt="alt")
											figcaption.match
												p.orderlist= j+'.'
												p= val
												- i++
												- j++
						p.lead.my-4 Chế độ chăm sóc da tại nhà để luôn có làn da khỏe đẹp
						//- circle
						.row.box-circle
							.col-sm-6.col-lg-3.mot
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_6.png", alt="alt")
										figcaption
											p.orderlist 1.
											p Tẩy trang
							.col-sm-6.col-lg-3.hai
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_7.png", alt="alt")
										figcaption
											p.orderlist 2.
											p TRữa mặt sạch với<br>loại phù hợp da
							.col-sm-6.col-lg-3.ba
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_8.png", alt="alt")
										figcaption
											p.orderlist 3.
											p Lotion
							.col-sm-6.col-lg-3.bon
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_9.png", alt="alt")
										figcaption
											p.orderlist 4.
											p Tinh chất ( serum)<br>làm sáng da
						.row.box-circle
							.col-sm-6.col-lg-3.mot
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_10.png", alt="alt")
										figcaption
											p.orderlist 5.
											p Kem dưỡng ẩm &<br>ngăn ngừa lão hóa
							.col-sm-6.col-lg-3.hai
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_11.png", alt="alt")
										figcaption
											p.orderlist 6.
											p Đắp mặt nạ phù hợp nhu<br>cầu của da mỗi tuần
							.col-sm-6.col-lg-3.ba
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_12.png", alt="alt")
										figcaption
											p.orderlist 7.
											p Sử dụng chống nắng chỉ<br>số spf 30 - spf 50 khi ra<br> ngoài nắng
							.col-sm-6.col-lg-3.bon
								a.item(href="javascript:void(0)")
									figure
										.image
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_13.png", alt="alt")
										figcaption
											p.orderlist 8.
											p Ở nhà cũng nên dùng loại<br> chống nắng spf 15 - 20 bảo vệ<br> da trước ánh đèn và màn hình<br> vi tính.
				//- phase 3
				li.timeline-item
					.timeline-info
						span GIAI ĐOẠN 3
					.timeline-marker
					.timeline-content
						.row
							.col-md-5
								a.item-news-read(href="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_14.png")
									figure
										img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_14.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
							.col-md-7
								p Bước qua tuổi 45 cấu trúc làn da lúc này có sự thay đổi rõ rệt, nếp nhăn vùng trán và mắt, rãnh 2 bên mũiv hằn sâu hơn, cơ mặt chùng xuống, nọng cằm, nếp nhăn vùng cổ xuất hiện.
								p.font-italic Ở độ tuổi này thì phái đẹp còn đối diện với thời kỳ tiền mãn kinh, làn da chịu ảnh hưởng của sự thay đổi nội tiết. Nên có chế độ chăm sóc riêng vì lúc này cơ mặt bắt đầu nhão xệ, làn da khô sần, sậm màu.
						p.lead Liệu trình dành riêng cho làn da tuổi trung niên :
						.row
							-var i = 2
							each val in ['Active’age Modelling', 'Active’age Cocoon']
								.col-sm-6.col-lg-3
									a.item(href="javascript:void(0)")
										figure.box
											img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_"+i+".png", alt="alt")
											figcaption.match
												p= val
												- i++
				//- phase 4
				li.timeline-item
					.timeline-info
						span GIAI ĐOẠN 4
					.timeline-marker
					.timeline-content.d-flex-md
						.row
							.col-md-5
								a.item-news-read(href="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_1.png")
									figure
										img(src="./img/parisbeautyspa/beautify-service-detail/beautify_service_detail_17.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
							.col-md-7.phase-4
								p Từ 55 - 65 tuổi làn da giảm và mấtdần chức năng chuyển hóa tuyến bã nhờn và mồ hôi, qua thời gian làn da bị ảnh hưởng bởi stress oxy hóa, chịu nhiều tác động từ môi trường đặc biệt là ánh nắng mặt trời, các gốc tự do. Làm quá trình trao đổi chất bên trong da yếu dần đi, tế bào tạo màng bảo vệ da ở lớp da có mỡ bị sụt giảm khiến da khó hồi phục vết thương, hóp 2 bên má, cơ mặt và cổ chùng nhão, xệ xuống.
								p.lead Liệu trình cao cấp cho da lão hóa :
								p Nâng cơ chuyên sâu 3D
								p Chống lão hóa toàn diện cho làn da với liệu trình Mille
								p Thay da sinh học cho da lão hóa
								p Liệu pháp Mesoprof cho da lão hóa
		.social-networks.nav
			.nav-item
				.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
					a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
			.nav-item
				a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
			.nav-item
				.g-plusone(data-size="tall")
