section.canhcam-intro(bg-img="./img/parisbeautyspa/background/intro_1.png")
	.container
		article.intro
			h1 giới thiệu
			.row.no-gutters
				.col-lg-8.order-lg-2.item.right
					figure(bg-img="./img/parisbeautyspa/intro/intro_1.png")
						.boxzoom
							img(src="./img/parisbeautyspa/intro/intro_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
				.col-lg-4.item.left
					figure
						figcaption
							p.lead Paris Beauty ra đời để đồng hành, lắng nghe làn da của bạn và đưa ra những giải pháp kịp thời đúng lúc cho từng tình trạng da.
							p Vì chúng tôi luôn hiểu mỗi làn da là độc nhất và có đặc tính riêng cũng như nhu cầu riêng biệt. Chế độ chăm sóc da tại PB luôn được tư vấn soi da bằng công nghệ hiện đại và thiết kế liệu trình riêng cho phù hợp từng cá nhân với mong muốn mang đến làn da mượt mà, trắng sáng, khỏe đẹp tự nhiên của tuổi đôi mươi cho quý khách.
