section.canhcam-hightech-treatment-news-3
	article.news_list
		.container
			//- Title
			.row
				.col-10.mx-auto
					h1.h1.text-center.text-uppercase Trẻ hóa công nghệ cao
			//- Content here
			.row#products
				-var i = 1
				each val, index in ['Trị nám, xóa thâm công nghệ cao Laser', 'công nghệ giảm mở HIFU', 'điều trị sẹo rỗ, công nghệ co2', 'triệt lông công nghệ dios laser', 'điều trị nám thượng bì công nghệ laser', 'xóa thâm không sẹo công nghệ laser']
					.col-sm-6.col-lg-4
						a.item(href="javascript:void(0)")
							figure
								img.w-100.img-fluid(src="./img/parisbeautyspa/hightech-treatment/hightech_treatment_"+i+".png", alt="alt")
								figcaption.text
									time 21.06.2018
									h3.mb-0.mt-1.text-uppercase= val
									- i++
