section.canhcam-hightech-rejuvenation-detail-news-details-1
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						h1 Tái sinh làn da công nghệ MESOGUN
						time 01/06/18 10:27 GMT+7
						.card
							.card-body Mesogun là công nghệ bắt nguồn từ nước Pháp cho phép đưa trực tiếp các loại huyết thanh, dưỡng chất, vitamin xuống tầng trung bì của da, giúp lấy đi các tế bào chết và tái tạo làn da từ bên trong. Khác với những công nghệ lăn kim truyền thống trước đây lãng phí khá nhiều sản phẩm do dưỡng chất không thẩm thấu hết xuống dưới da. Công nghệ Mesogun sử dụng các mũi kim có đường kính ống tiêm siêu nhỏ để bơm dưỡng chất xuống tầng trung bì của da, giúp tái sinh cho làn da trở nên căng bóng,trắng sáng cực kì nhanh chóng ngay sau một lần điều trị.
						p.lead Ưu điểm nổi bật
						p Phương pháp tiêm cấy Mesogun là một phương pháp làm đẹp xâm lấn tối thiểu nên không để lại sẹo hay bất cứ tổn thương sâu trên da làm ảnh hưởng về mặt  thẩm mỹ. Khách hàng sau khi điều trị vẫn không cần nghỉ dưỡng,vẫn có thể làm việc và sinh hoạt bình thường. Bên cạnh đó việc tạo các tổn thương tạm thời dưới tác động của mũi kim sẽ giúp kích thích quá trình sản sinh collagen-elastin giúp làn da trở nên đàn hồi và săn chắc hơn sau điều trị.
						a.item-news-read(href="./img/parisbeautyspa/hightech-rejuvenation-detail/hightechrejuvenation_detail_1.png")
							figure
								img(src="./img/parisbeautyspa/hightech-rejuvenation-detail/hightechrejuvenation_detail_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
								figcaption Công nghệ mesogun tái tại làn da
						p.lead Quy trình điều trị
						p BƯỚC 1: THĂM KHÁM VÀ TƯ VẤN
						p -Kỹ thuật viên tiến hành thăm khám cụ thể để đánh giá mức độ chảy xệ, lão hóa củ vùng da cần điều trị đồng thời lựa phương pháp và liều lượng điều thuốc phù hợp với từng tình trạng da khách hàng.
						p BƯỚC 2: LÀM SẠCH VÙNG DA CẦN ĐIỀU TRỊ
						p -Thực hiện bước làm sạch sâu cho vùng cần được điều trị.
						p BƯỚC 3:GÂY TÊ TRƯỚC ĐIỀU TRỊ:
						p -Ủ tê chuyên sâu cho vùng cần điều trị(30-40 phút)
						p -Sát khuẩn vùng điều trị bằng Nacl chuẩn vì cho bước điều trị.
						p BƯỚC 3: TIÊM CẤY THUỐC TRỰC TIẾP:
						p Tiêm trực tiếp dung dích cocktail (tế bào tươi+hyaluronic axit+glutathione+vitamin C 20%) xuống da với độ sâu kim theo từng vùng điều trị.
						p BƯỚC 4: KẾT THÚC ĐIỀU TRỊ
						p -Làm dịu vùng điều trị với công nghệ Cooling.
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")
				.col-lg-4
					.othernews(data-fix="50", data-fix-type="initial", data-fix-change="sticky")
						h2 Dịch vụ khác
						.lists
							-var i = 2
							each val, index in ['SĂN CHẮC, TƯƠI TRẺ VỚI THERMAGE', 'PRP HỒI SINH CHO TẤT CẢ CÁC LOẠI DA', 'TRẺ HÓA VÙNG KÍN CÔNG NGHỆ LASER']
								a.item(href="javascript:void(0)")
									if i == 2
										figure.box-1
											img(src="./img/parisbeautyspa/hightech-rejuvenation-detail/hightechrejuvenation_detail_"+i+".png", alt="alt")
											figcaption
												h3.text-uppercase= val
												- i++
									else
										figure
											img(src="./img/parisbeautyspa/hightech-rejuvenation-detail/hightechrejuvenation_detail_"+i+".png", alt="alt")
											figcaption
												h3= val
												- i++
