article.video(bg-img="./img/parisbeautyspa/background/intro_3.png")
	.container
		h2 Video trải nghiệm
		.row#products
			-var i = 1
			each val, index in ['GIẢM BÉO DỨT ĐIỂM VỚI CÔNG NGHỆ LIPO MESOPROF - HÀN QUỐC', 'TRẺ HÓA DA TINH THỂ VÀNG CÔNG NGHỆ PARIBEAUTY - GIẢI PHÁP HIỆU QUẢ CHO DA TỐI MÀU', 'TRẺ HÓA DA TINH THỂ VÀNG CÔNG NGHỆ PARIBEAUTY ']
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							.block-img
								img(src="./img/parisbeautyspa/intro/intro_3_"+i+".png", alt="alt")
							figcaption.match
								time 21.06.2018
								h3= val
								- i++
		h2 TRẢI nghiệm người nổi tiếng
		.canhcam-slider-5
			.list-thumb
				.slick-content
					.row.slick-items.no-gutters
						.col-md-6
							.slick-img
								img(src="./img/parisbeautyspa/intro/intro_4.png", alt="alt")
						.col-md-6
							.slick-caption
								p.quote "
								p Cuộc sống của tôi khá bận rộn và phải thường xuyên di chuyển quay phim ngoài trời, nên tôi không có nhiều thời gian chăm sóc trọn vẹn cho làn da của mình. Rất may là được biết đến các liệu trình chăm sóc da tại Paris Beauty, nên da của tôi luôn căng tràn, sáng mịn và hồng hào.
								p.lead Diễn viên Diễm My 9x
				.slick-content
					.row.slick-items.no-gutters
						.col-md-6
							.slick-img
								img(src="./img/parisbeautyspa/intro/intro_4.png", alt="alt")
						.col-md-6
							.slick-caption
								p.quote "
								p Cuộc sống của tôi khá bận rộn và phải thường xuyên di chuyển quay phim ngoài trời, nên tôi không có nhiều thời gian chăm sóc trọn vẹn cho làn da của mình. Rất may là được biết đến các liệu trình chăm sóc da tại Paris Beauty, nên da của tôi luôn căng tràn, sáng mịn và hồng hào.
								p.lead Diễn viên Diễm My 9x
				.slick-content
					.row.slick-items.no-gutters
						.col-md-6
							.slick-img
								img(src="./img/parisbeautyspa/intro/intro_4.png", alt="alt")
						.col-md-6
							.slick-caption
								p.quote "
								p Cuộc sống của tôi khá bận rộn và phải thường xuyên di chuyển quay phim ngoài trời, nên tôi không có nhiều thời gian chăm sóc trọn vẹn cho làn da của mình. Rất may là được biết đến các liệu trình chăm sóc da tại Paris Beauty, nên da của tôi luôn căng tràn, sáng mịn và hồng hào.
								p.lead Diễn viên Diễm My 9x
