article.video
	.container
		h2 Video trải nghiệm
		.row#products
			-var i = 1
			each val, index in ['GIẢM BÉO DỨT ĐIỂM VỚI CÔNG NGHỆ LIPO MESOPROF - HÀN QUỐC', 'TRẺ HÓA DA TINH THỂ VÀNG CÔNG NGHỆ PARIBEAUTY - GIẢI PHÁP HIỆU QUẢ CHO DA TỐI MÀU', 'TRẺ HÓA DA TINH THỂ VÀNG CÔNG NGHỆ PARIBEAUTY ']
				.col-sm-6.col-lg-4
					a.item(href="javascript:void(0)")
						figure
							.block-img
								img(src="./img/parisbeautyspa/intro/intro_3_"+i+".png", alt="alt")
							figcaption.match
								time 21.06.2018
								h3= val
								- i++
